extends layout

block content
    BusinessMessage
        BusinessEvent
            Entity= TOTVSMessageBusinessMessageBusinessEventEntity
            Event= TOTVSMessageBusinessMessageBusinessEventEvent
            Identification
                Key(name= TOTVSMessageBusinessMessageBusinessEventIdentificationKeyname)= TOTVSMessageBusinessMessageBusinessEventIdentificationKeycontent
        BusinessContent
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            DocumentPrefix= TOTVSMessageBusinessMessageBusinessContentDocumentPrefix
            DocumentNumber= TOTVSMessageBusinessMessageBusinessContentDocumentNumber
            DocumentParcel= TOTVSMessageBusinessMessageBusinessContentDocumentParcel
            DocumentTypeCode= TOTVSMessageBusinessMessageBusinessContentDocumentTypeCode
            ListOfSourceDocument= TOTVSMessageBusinessMessageBusinessContentListOfSourceDocument
            IssueDate= TOTVSMessageBusinessMessageBusinessContentIssueDate
            DueDate= TOTVSMessageBusinessMessageBusinessContentDueDate
            RealDueDate= TOTVSMessageBusinessMessageBusinessContentRealDueDate
            CustomerCode= TOTVSMessageBusinessMessageBusinessContentCustomerCode
            StoreId= TOTVSMessageBusinessMessageBusinessContentStoreId
            CustomerInternalId= TOTVSMessageBusinessMessageBusinessContentCustomerInternalId
            NetValue= TOTVSMessageBusinessMessageBusinessContentNetValue
            GrossValue= TOTVSMessageBusinessMessageBusinessContentGrossValue
            RealValue= TOTVSMessageBusinessMessageBusinessContentRealValue
            CurrencyCode= TOTVSMessageBusinessMessageBusinessContentCurrencyCode
            CurrencyInternalId= TOTVSMessageBusinessMessageBusinessContentCurrencyInternalId
            CurrencyRate= TOTVSMessageBusinessMessageBusinessContentCurrencyRate
            FinancialNatureInternalId= TOTVSMessageBusinessMessageBusinessContentFinancialNatureInternalId
            Taxes= TOTVSMessageBusinessMessageBusinessContentTaxes
            Observation= TOTVSMessageBusinessMessageBusinessContentObservation
            Origin= TOTVSMessageBusinessMessageBusinessContentOrigin
            AgencyNumber= TOTVSMessageBusinessMessageBusinessContentAgencyNumber
            AccountNumber= TOTVSMessageBusinessMessageBusinessContentAccountNumber
            OurNumberBanking= TOTVSMessageBusinessMessageBusinessContentOurNumberBanking
            ContractNumber= TOTVSMessageBusinessMessageBusinessContentContractNumber
            InterestPercentage= TOTVSMessageBusinessMessageBusinessContentInterestPercentage
            AssessmentValue= TOTVSMessageBusinessMessageBusinessContentAssessmentValue
            HolderCode= TOTVSMessageBusinessMessageBusinessContentHolderCode
            UniqueSerialNumber= TOTVSMessageBusinessMessageBusinessContentUniqueSerialNumber
            Accounting
                AccountingCodeDebit= TOTVSMessageBusinessMessageBusinessContentAccountingAccountingCodeDebit
                AccountingCodeCredit= TOTVSMessageBusinessMessageBusinessContentAccountingAccountingCodeCredit
                CostCenterDebit= TOTVSMessageBusinessMessageBusinessContentAccountingCostCenterDebit
                CostCenterCredit= TOTVSMessageBusinessMessageBusinessContentAccountingCostCenterCredit
                DepartamentDebit= TOTVSMessageBusinessMessageBusinessContentAccountingDepartamentDebit
                DepartamentCredit= TOTVSMessageBusinessMessageBusinessContentAccountingDepartamentCredit
                ClassValueDebit= TOTVSMessageBusinessMessageBusinessContentAccountingClassValueDebit
                ClassValueCredit= TOTVSMessageBusinessMessageBusinessContentAccountingClassValueCredit
            Other
                AcademicRecord= TOTVSMessageBusinessMessageBusinessContentOtherAcademicRecord
                AcademicPeriod= TOTVSMessageBusinessMessageBusinessContentOtherAcademicPeriod
                AppliedMatrix= TOTVSMessageBusinessMessageBusinessContentOtherAppliedMatrix
                ItemInternalId= TOTVSMessageBusinessMessageBusinessContentOtherItemInternalId
                Class= TOTVSMessageBusinessMessageBusinessContentOtherClass
                HotelAccountCode= TOTVSMessageBusinessMessageBusinessContentOtherHotelAccountCode
