extends layout

block content
    BusinessMessage
        BusinessRequest
            Operation= businessRequestOperation
        BusinessContent
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            AccountReceivableDocumentInternalId= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentInternalId
            PaymentDate= TOTVSMessageBusinessMessageBusinessContentPaymentDate
            CreditDate= TOTVSMessageBusinessMessageBusinessContentCreditDate
            EntryDate= TOTVSMessageBusinessMessageBusinessContentEntryDate
            PaymentValue= TOTVSMessageBusinessMessageBusinessContentPaymentValue
            OtherValues
                DiscountValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesDiscountValue
                ScholarshipValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesScholarshipValue
                InterestValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesInterestValue
                AbatementValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesAbatementValue
                ExpensesValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesExpensesValue
                NotaryCostsValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesNotaryCostsValue
                FineValue= TOTVSMessageBusinessMessageBusinessContentOtherValuesFineValue
            CurrencyInternalId= TOTVSMessageBusinessMessageBusinessContentCurrencyInternalId
            CurrencyRate= TOTVSMessageBusinessMessageBusinessContentCurrencyRate
            StoreId= TOTVSMessageBusinessMessageBusinessContentStoreId
            PaymentMethod= TOTVSMessageBusinessMessageBusinessContentPaymentMethod
            PaymentMeans= TOTVSMessageBusinessMessageBusinessContentPaymentMeans
            HolderCode= TOTVSMessageBusinessMessageBusinessContentHolderCode
            FinancialInternalId= TOTVSMessageBusinessMessageBusinessContentFinancialInternalId
            HistoryText= TOTVSMessageBusinessMessageBusinessContentHistoryText
            DischargeSequence= TOTVSMessageBusinessMessageBusinessContentDischargeSequence
