extends layout

block content
    BusinessMessage
        BusinessEvent
            Entity= TOTVSMessageBusinessMessageBusinessEventEntity
            Event= TOTVSMessageBusinessMessageBusinessEventEvent
            Identification
                Key(name= TOTVSMessageBusinessMessageBusinessEventIdentificationKeyname)= TOTVSMessageBusinessMessageBusinessEventIdentificationKeycontent
        BusinessContent
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            Code= TOTVSMessageBusinessMessageBusinessContentCode
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            Name= TOTVSMessageBusinessMessageBusinessContentName
            ShortName= TOTVSMessageBusinessMessageBusinessContentShortName
            Active= TOTVSMessageBusinessMessageBusinessContentActive
            StockGroupCode= TOTVSMessageBusinessMessageBusinessContentStockGroupCode
            StockGroupInternalId= TOTVSMessageBusinessMessageBusinessContentStockGroupInternalId
            StockGroupDescription= TOTVSMessageBusinessMessageBusinessContentStockGroupDescription
            UnitOfMeasureCode= TOTVSMessageBusinessMessageBusinessContentUnitOfMeasureCode
            UnitOfMeasureInternalId= TOTVSMessageBusinessMessageBusinessContentUnitOfMeasureInternalId
            StandardWarehouseCode= TOTVSMessageBusinessMessageBusinessContentStandardWarehouseCode
            StandardWarehouseInternalId= TOTVSMessageBusinessMessageBusinessContentStandardWarehouseInternalId
            StandardWarehouseDescription= TOTVSMessageBusinessMessageBusinessContentStandardWarehouseDescription
            EconomicLot= TOTVSMessageBusinessMessageBusinessContentEconomicLot
            MinimumLot= TOTVSMessageBusinessMessageBusinessContentMinimumLot
            NetWeight= TOTVSMessageBusinessMessageBusinessContentNetWeight
            GrossWeight= TOTVSMessageBusinessMessageBusinessContentGrossWeight
            Origin= TOTVSMessageBusinessMessageBusinessContentOrigin
            FiscalInformation
                FiscalClassification
                    Code= TOTVSMessageBusinessMessageBusinessContentFiscalInformationFiscalClassificationCode
                    FiscalClassificationInternalId= TOTVSMessageBusinessMessageBusinessContentFiscalInformationFiscalClassificationFiscalClassificationInternalId
                    Description= TOTVSMessageBusinessMessageBusinessContentFiscalInformationFiscalClassificationDescription
            ProductType= TOTVSMessageBusinessMessageBusinessContentProductType
            Trail= TOTVSMessageBusinessMessageBusinessContentTrail
            BinControl= TOTVSMessageBusinessMessageBusinessContentBinControl
            MultiplicationFactorValue= TOTVSMessageBusinessMessageBusinessContentMultiplicationFactorValue
            Values
                CostPrice= TOTVSMessageBusinessMessageBusinessContentValuesCostPrice
                SalesPrice= TOTVSMessageBusinessMessageBusinessContentValuesSalesPrice
                AverageCostPrice= TOTVSMessageBusinessMessageBusinessContentValuesAverageCostPrice
                StandardCostPrice= TOTVSMessageBusinessMessageBusinessContentValuesStandardCostPrice
