doctype xml

TOTVSMessage
    MessageInformation(version=TOTVSMessageMessageInformationversion)
        UUID= TOTVSMessageMessageInformationUUID
        Type= TOTVSMessageMessageInformationType
        Transaction= TOTVSMessageMessageInformationTransaction
        StandardVersion= TOTVSMessageMessageInformationStandardVersion
        SourceApplication= TOTVSMessageMessageInformationSourceApplication
        CompanyId= TOTVSMessageMessageInformationCompanyId
        BranchId= TOTVSMessageMessageInformationBranchId
        GeneratedOn= TOTVSMessageMessageInformationGeneratedOn
        DeliveryType= TOTVSMessageMessageInformationDeliveryType
        Product(name= TOTVSMessageMessageInformationProductname version= TOTVSMessageMessageInformationProductversion)
    block content
