extends layout
block content
    BusinessMessage
        BusinessEvent
            Entity= TOTVSMessageBusinessMessageBusinessEventEntity
            Event= TOTVSMessageBusinessMessageBusinessEventEvent
            Identification
                Key(name= TOTVSMessageBusinessMessageBusinessEventIdentificationKeyname)= TOTVSMessageBusinessMessageBusinessEventIdentificationKeycontent
        BusinessContent
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            Code= TOTVSMessageBusinessMessageBusinessContentCode
            OperIndicator= TOTVSMessageBusinessMessageBusinessContentOperIndicator
            Regime= TOTVSMessageBusinessMessageBusinessContentRegime
            OperDate= TOTVSMessageBusinessMessageBusinessContentOperDate
            PisTax= TOTVSMessageBusinessMessageBusinessContentPisTax
            CofinsTax= TOTVSMessageBusinessMessageBusinessContentCofinsTax
            CustomerVendorInternalId= TOTVSMessageBusinessMessageBusinessContentCustomerVendorInternalId
            CustomerVendorCode= TOTVSMessageBusinessMessageBusinessContentCustomerVendorCode
            ItemInternalId= TOTVSMessageBusinessMessageBusinessContentItemInternalId
            ItemCode= TOTVSMessageBusinessMessageBusinessContentItemCode
            OperValue= TOTVSMessageBusinessMessageBusinessContentOperValue
            Balance= TOTVSMessageBusinessMessageBusinessContentBalance
            PisBase= TOTVSMessageBusinessMessageBusinessContentPisBase
            PisAliquot= TOTVSMessageBusinessMessageBusinessContentPisAliquot
            PisValue= TOTVSMessageBusinessMessageBusinessContentPisValue
            CofinsBase= TOTVSMessageBusinessMessageBusinessContentCofinsBase
            CofinsAliquot= TOTVSMessageBusinessMessageBusinessContentCofinsAliquot
            CofinsValue= TOTVSMessageBusinessMessageBusinessContentCofinsValue
            BCCode= TOTVSMessageBusinessMessageBusinessContentBCCode
            CredOrigin= TOTVSMessageBusinessMessageBusinessContentCredOrigin
            LedgerAccountInternalId= TOTVSMessageBusinessMessageBusinessContentLedgerAccountInternalId
            LedgerAccount= TOTVSMessageBusinessMessageBusinessContentLedgerAccount
            CostCenterInternalId= TOTVSMessageBusinessMessageBusinessContentCostCenterInternalId
            CostCenterCode= TOTVSMessageBusinessMessageBusinessContentCostCenterCode
            OperDescription= TOTVSMessageBusinessMessageBusinessContentOperDescription
            ClTable= TOTVSMessageBusinessMessageBusinessContentClTable
            Calculate= TOTVSMessageBusinessMessageBusinessContentCalculate
            EfdProject= TOTVSMessageBusinessMessageBusinessContentEfdProject
            GrossIncome= TOTVSMessageBusinessMessageBusinessContentGrossIncome
            Participator= TOTVSMessageBusinessMessageBusinessContentParticipator