extends layout

block content
    BusinessMessage
        BusinessRequest
            Operation= TOTVSMessageBusinessMessageBusinessRequestOperation
        BusinessContent
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            RetailSalesInternalId= TOTVSMessageBusinessMessageBusinessContentRetailSalesInternalId
            OperatorCode= TOTVSMessageBusinessMessageBusinessContentOperatorCode
            CancelDate= TOTVSMessageBusinessMessageBusinessContentCancelDate
