extends layout
block content
    BusinessMessage
        BusinessEvent
            Entity= TOTVSMessageBusinessMessageBusinessEventEntity
            Event= TOTVSMessageBusinessMessageBusinessEventEvent
            Identification
                Key(name= TOTVSMessageBusinessMessageBusinessEventIdentificationKeyname)= TOTVSMessageBusinessMessageBusinessEventIdentificationKeycontent

        BusinessContent
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            SellerInternalId= TOTVSMessageBusinessMessageBusinessContentSellerInternalId
            AccountReceivableDocumentInternalId= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentInternalId
            AccountReceivableDocumentPrefix= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentPrefix
            AccountReceivableDocumentNumber= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentNumber
            AccountReceivableDocumentParcel= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentParcel
            AccountReceivableDocumentTypeCode= TOTVSMessageBusinessMessageBusinessContentAccountReceivableDocumentTypeCode
            CustomerVendorInternalId= TOTVSMessageBusinessMessageBusinessContentCustomerVendorInternalId
            CustomerVendorCode= TOTVSMessageBusinessMessageBusinessContentCustomerVendorCode
            CustomerVendorStore= TOTVSMessageBusinessMessageBusinessContentCustomerVendorStore
            IssueDate= TOTVSMessageBusinessMessageBusinessContentIssueDate
            BaseValue= TOTVSMessageBusinessMessageBusinessContentBaseValue
            SalesChargePercentage= TOTVSMessageBusinessMessageBusinessContentSalesChargePercentage
            Value= TOTVSMessageBusinessMessageBusinessContentValue
            DueDate= TOTVSMessageBusinessMessageBusinessContentDueDate
            Currency= TOTVSMessageBusinessMessageBusinessContentCurrency