extends layout

block content
    BusinessMessage
        BusinessEvent
            Entity= TOTVSMessageBusinessMessageBusinessEventEntity
            Event= TOTVSMessageBusinessMessageBusinessEventEvent
            Identification
                Key(name= TOTVSMessageBusinessMessageBusinessEventIdentificationKeyname)= TOTVSMessageBusinessMessageBusinessEventIdentificationKeycontent
        BusinessContent
            CompanyId= TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId= TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId= TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            Code= TOTVSMessageBusinessMessageBusinessContentCode
            InternalId= TOTVSMessageBusinessMessageBusinessContentInternalId
            Name= TOTVSMessageBusinessMessageBusinessContentName
            ShortName= TOTVSMessageBusinessMessageBusinessContentShortName
            SellerPassword= TOTVSMessageBusinessMessageBusinessContentSellerPassword
            SellerPhoneDDD= TOTVSMessageBusinessMessageBusinessContentSellerPhoneDDD
            SellerPhone= TOTVSMessageBusinessMessageBusinessContentSellerPhone
            SellerEmail= TOTVSMessageBusinessMessageBusinessContentSellerEmail
            Address= TOTVSMessageBusinessMessageBusinessContentAddress
            SalesChargeInformation
                CustomerVendorInternalId= TOTVSMessageBusinessMessageBusinessContentSalesChargeInformationCustomerVendorInternalId
                SalesChargeInterface= TOTVSMessageBusinessMessageBusinessContentSalesChargeInformationSalesChargeInterface